@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto:wght@300;400;500&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
}

:root{
  --primary: #E27D75;
  --secondary: #EFEFEF;
  --textcolor: #205375;
}

h1{
  font-size: 56px;
  font-weight: 600;
}

h2{
  font-size: 20px;
  font-weight: 200;
}

p{
  font-size: 24px;
  font-weight: 100;
}